@import './base.css';
@import "tailwindcss";


#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;  
  height: 100vh;
}

a,
.green {
  transition: 0.4s;
  padding: 3px;
  
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 100%) {
  body {
    display: flex;
    place-items: center;
    height: 109vw;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
